#state-tag {
   font-size: 1.5em;
   margin: 0;
}

#results-container,
#form-div-input {
    background:#eae6e6;
    border-radius: 25px;
    padding: 3%;
}
#submit-button {
    background: blue;
    border-radius: 25px;
    padding: 10px;
}
.invalid {
    color: red;
}

